body{
  
   
   
}

.overlay{
    background-image: url('https://thumbs.dreamstime.com/z/woman-words-learn-earn-female-student-carrying-books-businesswoman-jumping-over-dollar-sign-text-blackboard-70418313.jpg?ct=jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250vh;
    height: 300vh;
}



  
