body{
  background-image: url("L$E\ HUB\ LOGO.png");
   margin: 0;
  padding: 0;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh;
   
}

.veil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .text {
    position: relative; /* Stacks on top of the background and veil */
    z-index: 2; /* Ensures it appears above the veil */
    text-align: center;
    color: white;
  }


  
